:root {

    --primary: #4ade80; /* Verde Fitness */

    --bg: #0f172a;

    --card-bg: #1e293b;

    --text: #f8fafc;

    --accent: #334155;

}

body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: var(--bg);

    color: var(--text);

    margin: 0;

    padding: 20px;

    display: flex;

    justify-content: center;

}

.container {

    max-width: 600px;

    width: 100%;

}

header {

    text-align: center;

    margin-bottom: 30px;

}

.subtitle {

    color: #94a3b8;

}

.alert {

    background: #7f1d1d;

    color: #fca5a5;

    padding: 10px;

    border-radius: 8px;

    font-size: 0.9rem;

    margin-top: 15px;

}

.modal-content {
    background: #d44747;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 90%;
    box-shadow: 0 4px 6px #993939;
}

.close-popup {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    /* border: 2px solid #ffffff;
    border-radius: 100%; */
}

.tabs {

    display: flex;

    gap: 10px;

    margin-bottom: 20px;

}

.tab-btn {

    flex: 1;

    padding: 12px;

    border: none;

    background: var(--accent);

    color: white;

    cursor: pointer;

    border-radius: 5px;

    font-weight: bold;

    transition: 0.3s;

}

.tab-btn.active {

    background: var(--primary);

    color: var(--bg);

}

.tab-content {

    display: none;

}

.tab-content.active {

    display: block;

    animation: fadeIn 0.5s;

}

.exercise-list {

    display: flex;

    flex-direction: column;

    gap: 15px;

}

.card {

    background: var(--card-bg);

    padding: 15px;

    border-radius: 10px;

    display: flex;

    align-items: center;

    gap: 15px;

    border-left: 4px solid var(--primary);

}

.card input[type="checkbox"] {

    width: 20px;

    height: 20px;

    cursor: pointer;

}

.card h3 {

    margin: 0;

    font-size: 1.1rem;

}

.card p {

    margin: 5px 0 0;

    color: #94a3b8;

    font-size: 0.9rem;

}

@keyframes fadeIn {

    from { opacity: 0; transform: translateY(10px); }

    to { opacity: 1; transform: translateY(0); }

}

